/* Header Styling */
.top{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: auto;
}

.double{
    display: flex;
    height: 40px;
    align-items: center;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.topbuttons{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

.sign_in{
    border-radius: 12%;
    background-color: white;
    color: #0850F8;
    font-weight: 600;
    border: 1px solid #0850F8;
}

.try{
    border-radius: 12%;
    background-color: border-radius: 12%;
    background-color: #0850F8;
    color: white;
    border: 1px solid #0850F8;
    font-weight: 600;
}


/* Focus Styling */

.focus{
    font-weight: 600;
    font-size: 40px;
}

.focusbiz{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 200px;
}

.topright{
    max-height: 10%;
}

























/* Footer Styling */
.bottom{
    display: flex;
    background-color: #0850F8;
    color: white;
    flex-direction: column;
}

.today{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.letsstart{
    text-align: center;
    font-size: 25px;
}

.bottombuttons{
    display: flex;
    justify-content: space-around;
}

.benefits{
    text-align: center;
}

.start{
    background-color: #7FD126;
    color: white;
    border-radius: 12%;
}

.chat{
    background-color: white;
    color: #0850F8;
    border-radius: 12%;
    border: 1px solid black;
}