/* Header Styling */
.top{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: auto;
    font-weight: 600;
}

.double{
    display: flex;
    height: 40px;
    align-items: center;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

a{
    color: black;
}

.topbuttons{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

.sign_in{
    border-radius: 12px;
    background-color: white;
    width: 100px;
    height: 30px;
    color: #0850F8;
    font-weight: 600;
    border: 1px solid #0850F8;
}

.try{
    border-radius: 12px;
    background-color: #0850F8;
    width: 100px;
    height: 30px;
    color: white;
    border: 1px solid #0850F8;
    font-weight: 600;
}





/* Focus Styling */

.focusbiz{
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: center;
    margin-left: 12%;
    margin-top: 5%;
}

.topleft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-right: 5%;   
}

.topright{
    height: 575px;
    width: 575px;
    margin-left: 3%;
    margin-right: 5%;
}

.focus{
    font-weight: 600;
    font-size: 50px;
}

.handle{
    font-weight: 600;
    font-size: 26px;
}

.billing {
    font-weight: 700;
    font-size: 18px;
    color: #A3A3A3;
    margin-top: 15px;
}

.focusbuttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.signupfree{
    background-color: #0850F8;
    color: white;
    border-radius: 25px;
    width: 225px;
    height: 80px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 700;

}

.chat1{
    background-color: white;
    color: #0850F8;
    border-radius: 25px;
    border: 1px solid #0850F8;
    font-weight: 800;
    width: 225px;
    height: 80px;
    font-size: 20px;
    margin-left: 15px;
}

#gridoptions{
    height: 100%;
}

.alreadysign{
    display: flex;
    flex-direction: row;
    color: #838282;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.already, .tap{
    font-weight: 600;
}

.doublebold, .signinbold{
    font-weight: 900;
    color: gray;
}

.doublebold, .signinbold{
    margin-left: 5px;
}

.free, .cancel, .manage{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}

.cancel::before, .manage::before {
    font-family: "webdings";
    content: "= ";
    padding: 5px;
    color: #0850F8;
}

.line{
    display: flex;
    justify-content: flex-start;
}


/* Start to Explore Styling */

.startexplore{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    height: 200px;
}

.explore{
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
}

.betterway, .track{
    margin-top: 20px;;
    font-size: 20px;
    font-weight: 600;
}





/* Credit Card Info*/

.container-credit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.credit-img{
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 500px;
    width: 500px;
}

.credit{
    background:rgb(8, 80, 248);
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#head{
    color:#fff;
    text-align: start;
    font: xx-large bold;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

#para1 {
    color:#fff;
    text-align: start;
    font: large bold;
    padding-bottom: 20px;
    padding-left: 20px;
}

#para2 {    
    color:#fff;
    font: xx-small;
    padding-left: 20px;
}

.button1{
    background-color: #0850F8;
    color: white;
    border: 2px #fff;
    text-align: center;
    font: small #fff;
    margin: 4px 2px;
}




/* Solutions to fit your business styling */

.starttofit {
    font-size: 40px;
    margin-left: 950px;
    margin-top: 110px;
    margin-bottom: -90px;
    font-weight: 600;
}

.container-md{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    justify-content: space-between;
    align-content:center;
}

.itembutton {
    width: 200px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px;
}

.item-button1 {
    margin-left: 130px;
    margin-top: 20px;
    
}

.item-button2 {
    margin-left: 130px;
    margin-top: 20px;
}
    
.item-button3 {
    margin-left: 130px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.item-button4 {
    margin-left: 130px;
    margin-bottom: 100px;
    margin-top: -10px;  
}

.item-3 {
    margin-top: -330px;
}

.item-4{
    padding-left: 70px;
    margin-top: -35px;
    margin-top: -360px;
}

.item-2{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.item-1 {
    margin-top: 110px;
}

.item-2 {
    margin-top: 130px;
}






/* Footer Styling */
.bottom{
    display: flex;
    background-color: #0850F8;
    color: white;
    flex-direction: column;
    height: 300px;
    padding: 20px;
}

.today{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
}

.letsstart{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

.bottombuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}


.start{
    background-color: #7FD126;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.chat2{
    background-color: white;
    color: #0850F8;
    height: 50px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.line2{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.manage2::before, .cancel2::before {
    font-family: "webdings";
    content: "= ";
    padding: 5px;
    color: white;
}

.free2, .cancel2, .manage2{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;

}