.window {
    height: 1000px;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.page {
   display: grid;
   justify-content: start;
   margin-left: 10%;
   align-content: center;
   height: 100%;
}

.upperbody {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 100px 100px 100px;
}

.lowerbody {
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 100px;
}

.sign_up {
    font-size: 80px;
    font-weight: bold;
    justify-content: right;
}

.name {
    width: 100%;
    align-items: right;
}

.form-control {
    border-radius: 50%;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 20px;
    width: 600px;
    height: 70px;
}

.sign_up_button {
    background-color: #0850F8;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 20px;
    width: 270px;
}

.sign_up_text {
    font-size: 20px;
    font-weight: bold;
}

.foot {
    display: flex;
    justify-content: space-evenly; 
}

.googleimg {
    height: 75px;
    width: 75px;
    margin-top: -6px;
}
